<div class="row">
  <div class="col1">
    <h2>Otros</h2>
  </div>
  <div class="col3">
    <div class="row2">
      <strong>Game Summit</strong>, <em>Centro de Cultura Española</em>, CDMX. <code class="fecha">Noviembre 2019</code>
      <p>Participe como staff voluntario en el primer evento relacionado con el desarrollo de videojuegos en países de habla hispana. El evento fue organizado por estudios españoles y mexicanos, además de contar con el apoyo de Unity Latinoamérica y Unreal Engine.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col1">
    <h2>Hobbies</h2>
  </div>
  <div class="col3">
    <div class="row2">
      <p>Entre mis hobbies se encuentran la música, específicamente el hip-hop, el básquetbol y los videojuegos.</p>
    </div>
    <div class="row2">
      <strong>El Podcast de Moi y Mau</strong>, <em>Colocutor, editor</em> <code class="fecha">Desde ago. 2018</code>
      <p>Podcast enfocado hacia el debate y reseña sobre la música hip-hop. Contamos con 27 episodios de poco más de una hora donde tocamos diversos temas además de los tópicos musicales.</p>
    </div>
  </div>
</div>
