
{% assign i = 0 %}
{% for item in site.data.skills %}
  {% if i == 0 %}<!--<div id="skills_p">-->{% endif %}
  {% if item.name != "last" %}
    <div id="skill"><code class="code-aparte"><i {% if item.tipo == "lan" %}class ="fas fa-code" {% else %}class="fas fa-desktop"{% endif %}></i> {{ item.name }}</code> {% include level_loop.html %}</div> 
  {% else %}
<!--</div>-->{% break %}
  {% endif %}
  {% if i == 2 %}<!--</div>-->{% assign i = -1 %}{% endif %}
  {% assign i = i | plus: 1 %}
{% else %}
  {{ "no" }}
{% endfor %}
