/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;

	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */

*{

}

body{
	font: normal normal 400 100%/1.5em Avenir,Verdana,sans-serif;
  margin: 1em;
	text-align: justify;
}


h1 {
	text-align: left;
	font-size: 3em;
	line-height: 1em;
	position: relative;
	left: 20%;
	width: 50%;
}

h2{
	font-size: 14pt;
	position: relative;
	right: 5%;
	top: 25px;
	text-align: right;
	width: 20%;
}

p{
	position: relative;
	left: 20%;
	width: 60%;
	margin-bottom: 0.7em;
}

h1+p{
	font-style: italic;
	font-size: 16pt;
}

code{
	font-size: 8pt;
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

p code{
	position: absolute;
	text-align: left;
	left: 110%;
	width: 25%;
}

em{
	font-style: italic;
}

strong {
	font-weight: bold;
}



.code-aparte{
	position: static;
	padding: 2px 4px;
  font-size: 90%;
  color: #4c4c99;
  white-space: nowrap;
  background-color: #9999ff;
  border-radius: 4px;
	font-size:12px;
}


.fas.fa-circle{
	color: #9999ff;
	font-size:12px;
}

.far.fa-circle{
	font-size:12px;
}

#skills{
	position: relative;
	left: 25%;
  width: 50%;
}

#webaddress {
	margin-top: 1em;
	position: relative;
	left: 20%;
	font-family: Monaco,Menlo,monospace,sans-serif;
	font-size: 100%;
	width: max-content;
}

#webaddress a {
	text-decoration: none;
}


#webaddress, h2{
	color: #7f7fff
}


a {
	color: inherit;
	/*text-decoration:none*/
}

a:hover {
	color:#39f
}
